DEBUG=True
SECRET_KEY=django-insecure-ar%q%a!!_ui-s=r^#8%!v%wv&0wq)pwj$o7u71-w4wo2l67h(*
DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=127.0.0.1,localhost

# Traccar GPS Server
TRACCAR_URL=http://localhost:8082
TRACCAR_USER=admin
TRACCAR_PASSWORD=admin
